{{ include('partials/main.html.twig') }}
    <head>
        {{ include('partials/title-meta.html.twig', {title: 'Customers'}) }}
        {{ include('partials/head-css.html.twig') }}
    </head>
    <body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        {{ include('menu/_menu.html.twig') }}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {{ include('partials/right-sidebar.html.twig') }}

    <!-- apexcharts -->
    <script src="/libs/apexcharts/apexcharts.min.js"></script>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <!-- App js -->
    </body>

</html>
